body{
	margin:0;
	font-family: Verdana, Geneva, sans-serif;
	background: black;
	color: white;
}

#music-app {
	display: flex;
	flex-direction: column;
}

.music-player {
	margin: 10px;
	border: 1px solid #999;
	background-color: #333;
	padding: 15px;
}

@media only screen and (min-width: 600px) {
  #music-app {
  	flex-direction: row-reverse;
  }

	.music-player {
		flex-grow:2;
	}

	.music-playlist {
		flex-grow:3;
	}
}

.player-details {
    min-height: 100px;
	margin-bottom:10px;
}

.player-details p {
	margin:0;
}

.player-details .player-title {
	font-size:30px;
}

.player-details .player-artist {
	font-size:24px;
}

.player-details .player-duration {
	font-size:14px;
}

.player-details img {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
}

.player-buttonbox button {
    background: #aa2d26;
    border: 1px solid #630202;
    width: 50px;
    height: 30px;
}

.player-buttonbox button:disabled{
	
background: #333;
	
border-color: #999;
}

.player-timer {
	width: 100%;
	background-color: #aa2d26;
	border: 1px solid #630202;
	border-radius: 2px;
	height: 14px;
	margin: 10px 0;
	position: relative;
}

.timer-widget {
	position:absolute;
	top: -3px;
	background-color: red;
	border: 1px solid #d7190f;
	width: 0;
	height: 0;
	padding: 10px;
	border-radius: 10px;
	margin-left: -10px;
	transition: left 1s;
}

.player-times {
	min-height: 10px;
}

.player-times span {
	font-size: 10px;
}

.player-times .time-played {
	float: left;
}

.player-times .time-left {
	float:right;
}

.music-playlist {
	margin: 10px;
	border: 1px solid #999;
	background-color: #333;
}

.playlist-list {
	margin:0;
	padding: 0;
	list-style:none;
}

.playlist-list li {
	padding: 5px;
}

.playlist-list li:nth-of-type(2n) {
	background-color: #666;
}

.playlist-list li.active {
	font-weight: bold;
	background: #630202;
	color: #ff0e00;
}